header.header

    nav.nav.nav--user
        if userauthorised!=undefined
            img.nav__user-img(src='/img/home.png' alt='user phpto')
            a.nav__el.nav__el(href='/homePage') Home
            a.nav__el.nav__el(href='/users/logout') Logout
            a.nav__el(href='/me')
                img.nav__user-img(src='/img/users/user.png' alt='user phpto')
                span Customer 
        else 
            
            img.nav__user-img(src='/img/home.png' alt='user phpto')
            a.nav__el.nav__el(href='http://localhost:3000/') Home
            a.nav__el.nav__el(href='/login') Login
            a.nav__el.nav__el(href='/signup') Sign Up
        